body {
  background-color: #f6f6f6;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  padding: 0;
}

.border-line {
  padding-top: 0.8em;
  border-top: 2px solid lightblue;
}

/* HEADER SECTION */

.header {
  text-align: center;
  margin: auto;
  padding: 1.5em 0;
}

.header p {
  margin-top: 2em;
  line-height: 2em;
}

.header img {
  border-radius: 50%;
  border: 1px solid black;
  width:60%;
  display:block;
  margin:auto;
}

/* PROJECTS SECTION */

.projects h2 {
  text-align: center;
}

.projects ul {
  text-align: center;
}

.projects li {
  margin-bottom: 2em;
}

.project-name {
  border-bottom: 1px solid lightblue;
}

/* BACKGROUND EDUCATION EXPERIECE SECTION */

.background {
  text-align: center;
}

/* HOBBIES SECTION */

.hobbies {
  text-align: center;
}

.hobbies img {
  max-height: 175px;
}

/* FOOTER SECTION */

.footer {
  text-align: center;
}
